{% extends 'FinalProject/base.html' %}
{% load custom_filters %}

<!-- 
# file: imputation_comparison.html
# author: Thomas Lee (tlee03@bu.edu), 12/9/2024
# This template extends the base template and is used for comparing different imputation methods.
# It displays graphs for PSNR (Peak Signal-to-Noise Ratio) and SSIM (Structural Similarity Index)
# for different image imputation methods, each represented as base64-encoded images.
-->

{% block content %}
  <!-- Main header for the page -->
  <h1>Comparison of Imputation Methods</h1>

  <!-- Loop through each graph object and display its data -->
  {% for graph in bar_graphs %}
    <div class="graph-container">
      
      <!-- Display the original image -->
      <h4>Original Image</h4>
      <img src="{{ graph.image_file }}" alt="Original Image">
      
      <!-- Display the PSNR graph -->
      <h4>PSNR</h4>
      <img src="data:image/png;base64,{{ graph.psnr_graph|base64encode }}" alt="PSNR Graph">
      
      <!-- Display the SSIM graph -->
      <h4>SSIM</h4>
      <img src="data:image/png;base64,{{ graph.ssim_graph|base64encode }}" alt="SSIM Graph">
    </div>
  {% endfor %}
  
{% endblock %}
