{% extends "FinalProject/base.html" %}

{% block title %}Select Image for Imputation{% endblock %}

{% block content %}
<!-- 
# file: select_image.html
# author: Thomas Lee (tlee03@bu.edu), 12/9/2024
# This template allows users to select an image for imputation (to recover from corruption).
# The user can choose the original image, the imputation method, and whether to apply PCA preprocessing.
-->

<h1>Select Image for Imputation</h1>

<!-- Form to select the image for imputation -->
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    
    <!-- Selecting the original image (tied to the corrupted image) -->
    <h3>Select Original Image</h3>
    <div class="image-section">
        {% for image in form.original_image.field.queryset %}
            <div class="image-item">
                <!-- Render the radio button for selecting an image -->
                <input type="radio" name="original_image" value="{{ image.id }}" id="image{{ image.id }}"
                    {% if form.original_image.value == image.id %}checked{% endif %}>
                <label for="image{{ image.id }}">
                    <img src="{{ image.image_file.url }}" alt="Image {{ image.id }}" class="img-fluid">
                </label>
                <br>
                <label for="image{{ image.id }}">{{ image }}</label>
            </div>
        {% endfor %}
    </div>

    <!-- Selecting the imputation method to uncorrupt the corrupted image-->
    <h3>Select Imputation Method</h3>
    <div class="form-group">
        {{ form.imputation_method }}
    </div>
    <div class="form-group">
        <label for="pca_preprocessing" class="d-flex justify-content-between align-items-center">
            <span>Apply PCA Preprocessing</span>
            <input type="checkbox" id="pca_preprocessing" name="pca_preprocessing" value="true">
        </label>
    </div>
    

    <!-- Submit Button -->
    <button type="submit" class="btn btn-primary mt-4">Upload</button>
</form>

<!-- Back to Dashboard Button -->
<a href="{% url 'dashboard' %}" class="btn btn-secondary mt-4">Back to Dashboard</a>

{% endblock %}
