<!--mini_fb/templates/mini_fb/base.html
author: Thomas Lee (tlee03@bu.edu), 10/5/2024
A template with common HTML code that will be re=used by all of the other templates
-->

{% load static %}
<html>
    <head>
        <title>Mini Facebook</title>
        <!--<link rel="stylesheet" href = "/static/styles.css">-->
        <link rel="stylesheet" href = "{% static 'styles-mini_fb.css' %}">
    </head>

    <body>
        <nav>
            <ul>
                <a href = "{% url 'show_all' %}">Home Page</a>
            </ul>
        </nav>
        <header>
            <h1>Welcome to Mini Facebook</h1>
        </header>
        <h2><a href = "{% url 'create_profile' %}">Create a Profile</a> </h2>
        <!-- this URL requires a logged in user:-->
        
        {% if request.user.is_authenticated %}
                    Logged in user: {{ request.user }}. <br>
                    
<!--<p><a href="{% url 'logout' %}">Logout</a></p>-->
                    <form action="{% url 'logout' %}" method="POST" class="logout-form">
                        {% csrf_token %}
                        <input type="submit" value="Logout" class="logout-link">
                    </form>

                    
                    {% else %}
                    Not logged in. <br><a href = "{% url 'login' %}"> Login </a>
                    {% endif %}
        {%block content%}
        <!--fill in this section with specific page detail-->
        {%endblock%}
        <footer>
            <p>&copy; 2024 Mini Facebook</p>
        </footer>
    </body>
</html>