
<!-- mini_fb/templates/mini_fb/create_status_form.html
 author: Thomas Lee (tlee03@bu.edu), 10/13/2024
 displays the create status 
-->

{% extends 'mini_fb/base.html' %}
{% block content %}
<!-- show this first {{form}} -->
<!-- then show this version {{form.as_p}} -->

<!-- then show this version -->
<h2 class="form-header">Add a Status Message, {{ profile.first_name }} {{ profile.last_name }}</h2>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    
    <!-- Message Field -->
    <div class="form-group">
        <label for="id_message">Message</label>
        {{ form.message }}
    </div>

    <!-- File Upload Field for Multiple Images -->
    <div class="form-group">
        <label for="id_image_file">Upload Image(s)</label>
        <input type="file" name = "files" multiple />
    </div>

    <!-- Submit Button -->
    <div class="form-actions">
        <input type="submit" class="btn-submit" value="Add Message!">
    </div>
</form>




{% endblock %}