<!-- mini_fb/templates/mini_fb/friend_suggestions.html -->
<!-- author: Thomas Lee (tlee03@bu.edu), 10/24/2024 -->
{% extends 'mini_fb/base.html' %}

{% block content %}
<h2>Friend suggestions</h2>
<div class="friend-container">
    {% for friend in profile.get_friend_suggestions %}
        <div class="friend">
            <article>
                <!-- Link to add friend -->
                {% if request.user.is_authenticated %}
                <a href="{% url 'add_friend' profile.pk friend.pk %}">Add friend</a>
                {% endif %}
                
                <a href="{% url 'profile' friend.pk %}"><img src = "{{friend.profile_image_url}}" alt = "{{friend.profile_image_url}}">
            <!-- </a>-->
                <div>
                    <a href="{% url 'profile' friend.pk %}">{{friend.first_name}} {{friend.last_name}}</a>  
                </div>

            </article> 
        </div>
    {% endfor %}
</div>
{% endblock %}